<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <!--自定义一些常量，之后使用${变量名}引用-->
        <Property name="logFilePath">logs</Property>
        <Property name="logLayout">%d{yyyy-MM-dd HH:mm:ss.SSS} %class{36} LINE:%L M:%M %highlight{%-5level: %msg%n%throwable}</Property>
        <Property name="logFileForApplicationLog">application.log</Property>
        <Property name="logFileForTaskNacosLog">nacos.log</Property>
        <Property name="logFileForTaskCreaterLog">taskCreater.log</Property>
        <Property name="logFileForCpolymerizationTaskLog">cpolymerization.log</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${logLayout}"/>
        </Console>
        <RollingFile name="app" fileName="${logFilePath}/app.log"
                     filePattern="${logFilePath}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <!--ThresholdFilter :日志输出过滤-->
            <!--level="info" :日志级别,onMatch="ACCEPT" :级别在info之上则接受,onMismatch="DENY" :级别在info之下则拒绝-->
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <!-- 日志格式 -->
            <PatternLayout pattern="${logLayout}"/>
            <Policies>
                <!-- TimeBasedTriggeringPolicy :时间滚动策略,默认0点小时产生新的文件,interval="6" : 自定义文件滚动时间间隔,每隔6小时产生新文件, modulate="true" : 产生文件是否以0点偏移时间,即6点,12点,18点,0点-->
                <TimeBasedTriggeringPolicy />
                <!-- SizeBasedTriggeringPolicy :文件大小滚动策略-->
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
            <!-- DefaultRolloverStrategy属性如不设置，则默认为最多同一文件夹下7个文件，这里设置了20 -->
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console" />
            <AppenderRef ref="app" />
        </Root>
    </Loggers>
</Configuration>